.gradle/
build/
.lake/
.kotlin/
local.properties
*.iml
.idea/
.DS_Store
spec/*.bin
spec/states/
docs/*.pdf
.vscode/
.env
.bash_profile
.bashrc
.profile
.zprofile
.zshrc
.gitconfig
.gitmodules
.ripgreprc
.mcp.json
.codex
